body {
    background-color: #2E2E2E;
    font-family: 'Roboto', sans-serif;
}

p {
    margin: 0;
}

#frame {
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 64px;
}

.profile-pic {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    border-color: #888888;
    border-style: solid;
}

#user-profile {
    display: flex;
    gap: 15px;
}

#user-information {
    color: #ffffff;
    display: flex;
    gap: 8px;
    flex-direction: column;
}

#user-name {
    font-weight: bold;
    font-size: 2em;
}

.separator {
    width: 100%;
    height: 2px;
    margin: 54px 0;
    background-color: #CACACA;
}

.photo {
    width: 256px;
    height: 256px;
    object-fit: cover;
}

#photo-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
    justify-items: center;
}   

@media screen and (min-width: 1200px){
    #photo-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 24px;
        justify-items: center;
    }   
}